#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

#app div.grid {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
